/* General body styles */
body {
    font-family: "Roboto Mono", Arial, sans-serif;
    margin: 0;
    display: flex; 
    height: 100vh; 
    cursor: default;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    min-width: 250px; /* Prevent it from shrinking smaller than 250px */
    background: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px; /* This moves the sidebar down */
    z-index: 1; /* Ensure sidebar is above the animation */
}

/* Navigation styles */
nav {
    margin-top: 50px; /* Space between header and nav */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 5px 0; /* Space between nav items */
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Default color */
    font-size: 14px; /* Font size for nav links */
    font-family: "Roboto Mono", Arial, sans-serif; /* Ensure the nav items use Roboto Mono */
}

/* Styles for subsections */
nav ul ul {
    padding-left: 0; /* Ensure no extra padding */
}

nav ul ul li {
    margin: 2px 0; /* Adjust spacing between subsections */
}

nav ul ul li a {
    color: #555; /* Different color for subsection links */
    font-size: 10px; /* Smaller font size for subsections */
    margin-left: 5px;
}

/* Title styles */
h1 {
    margin: 0;
    font-size: 38px; /* Increased font size */
}

/* Name styles */
.name {
    font-size: 14px; /* Adjust font size if needed */
    margin: 0; /* Remove margin */
    margin-top: 5px; /* Space between header and nav */
}

/* Main content styles */
.cube-container {
    /*position: absolute; /* Keep this for positioning */
    top: 50%; /* Center vertically */
    margin-left: -400px; /* Set this value to move the cube to the right or left */
    transform: translateY(-50%); /* Only translate vertically */
    z-index: 0; /* Ensure it stays behind the sidebar */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the cube horizontally */
    align-items: center; /* Center the cube vertically */
}

/* Cube styles */
.cube {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    /* Additional cube styles here */
}

/* Active link style */
nav ul li a.active {
    font-weight: bold; /* Make active link bold */
    color: #333; /* Ensure it’s the same color as other links */
}
